.Grid {
    table{
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
        padding: 20px;
        text-align: center;
        height: 1.0vh;
        width: 1.0vw;
      }

      td:hover {
        background-color: beige;
        cursor: pointer;
      }
}

.tableGrid{
  display: flex;
  justify-content: center;
  align-items: center;
}